[submodule "deps/k"]
	path = deps/k
	url = https://github.com/kframework/k
	ignore = untracked
[submodule "deps/evm-semantics"]
	path = deps/evm-semantics
	url = https://github.com/kframework/evm-semantics
	ignore = untracked
